@font-face{
    font-family: helvetica;
    src: url("fonts/Helvetica.ttf");
}

@font-face{
    font-family: montserrat-alternates;
    src: url("fonts/MontserratAlternates-Black.ttf");
}

html{
    background-color:#7b9396;
}

#home img{
    width: 100%;
    height: auto;
    min-width: 350px; 
}

#main{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: helvetica;
}

img{
    width: 47.5%;
    margin-top: 10%;
}

#photoshop{
    margin-top: 0px;
}

#message{
    margin-top: 0%;
}

#left-pic img{
    margin-right: 5%;
}

#right-pic p{
    margin-right: 5%;
    width: 90%;
}

#handbook {
    width: 30%;
}

#vaccine{
    width: 20%;
}

#messpics{
    margin-bottom: 50px;
}

h1{
    font-family: montserrat-alternates;
    font-size: 3em;
    letter-spacing: 6px;
    color: #421c0d;
}

#hijas {
    margin-top: 150px;
}

h2{
    font-family: montserrat-alternates;
    font-weight: normal;
    font-size: 2em;
    letter-spacing: 3px;
    color:#654321;
    margin-top: 25%;
}

.desc h2{
    margin-top: 5%;
}

h3{
    font-family: montserrat-alternates;
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: 2px;
    color:#336b87;
}

li {
    margin-top: 5px;
}

.roledesc {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.roledesc img{
    margin-top: 1px;
}

.roledesc2{
    display: flex;
    flex-direction: row; 
    margin-top: 50px;  
}

.roledesc2 img{
    margin-top: 1px;
    margin-bottom: 100px;
    width: 50%;
}

.project {
    margin-bottom: 50px;
}

p{
    font-family: helvetica;
    letter-spacing: 1px;
}

#back{
    font-size: 1.5em;
    text-decoration: none;
    color: #A4A5A4;
    font-family: helvetica;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 2%;
    border: 1px solid #A4A5A4;
    letter-spacing: 3px;
}
#infolist{
    display: flex;
    flex-direction: column;
}
.info{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}